<div class="float-contact" aria-label="Liên hệ nhanh">
    <a class="float-contact__btn float-contact__btn--fb"
       href="https://facebook.com/"
       target="_blank" rel="noopener"
       aria-label="Facebook">
        <i class="fa-brands fa-facebook-f"></i>
        <span class="float-contact__ring" aria-hidden="true"></span>
    </a>

    <a class="float-contact__btn float-contact__btn--zalo"
       href="https://zalo.me/"
       target="_blank" rel="noopener"
       aria-label="Zalo">
        <span class="float-contact__zalo">Z</span>
        <span class="float-contact__ring" aria-hidden="true"></span>
    </a>

    <a class="float-contact__btn float-contact__btn--hotline"
       href="tel:+84908515511"
       aria-label="Hotline">
        <i class="fa-solid fa-phone"></i>
        <span class="float-contact__ring" aria-hidden="true"></span>
    </a>
</div>