 <!-- HEADER / NAVBAR -->
<header class="header">
    <div class="container header-inner">
        <div class="logo">
            <span class="logo-text">SG</span>
            <span class="logo-sub">ENERGY</span>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="~/">Giới thiệu</a></li>
                <li><a href="~/Solution">Giải Pháp</a></li>
                <li><a href="~/Product">Sản phẩm</a></li>
                <li><a href="~/Project">Dự án</a></li>
                <li><a href="~/lien-he" class="active">Liên hệ</a></li>
            </ul>
        </nav>
        <div class="hamburger" id="hamburger">
            <span></span><span></span><span></span>
        </div>
    </div>
</header>