<!-- TOP BAR -->
<div class="topbar">
    <div class="container topbar-inner">
        <div class="topbar-links">
            <a href="#">Tài liệu</a>
            <a href="#">Tuyển dụng</a>
            <a href="#">Hỏi đáp</a>
        </div>
        <div class="topbar-lang">
            <a href="#"><img src="https://flagcdn.com/w20/vn.png" alt="VI" /> VI</a>
            <a href="#"><img src="https://flagcdn.com/w20/gb.png" alt="EN" /> EN</a>
        </div>
    </div>
</div>